// Variables

// Main color
$primary-color: #000c04;

// Anchor color
$secondary-color: #00210d;

// Font color
$font-color: #edfcea;
$link-colour: #96beff;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $primary-color;
$intro-text-color: $font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $font-color;
